<div class="wrapper">
  <div class="container">
    <div class="subnavbar">
      <div>
        <h1>Questions</h1>
        <h4 style="margin-bottom: 40px;">Ask away and let locals help you find answers.</h4>
      </div>
    </div>
    <div class="answer-card">
      <%= simple_form_for @question do |field| %>
        <%= field.input :title, placeholder: "Please enter the title of your question", input_html: {class: "question_input_top"}, label:false %>
        <%= field.input :text, placeholder: "Please enter any additional information", input_html: {class: "question_input_bottom"}, label:false %>
        <%= field.button :submit, class: "btn btn-primary button form-submission-button", data: { disable_with: false } %>
      <% end %>
    </div>
    <% @questions.each do |question| %>
      <div class="question-list">
        <%= link_to(question, class: "question-link") do %>
          <div class="question">
            <div class='question-body'>
              <h3><%= question.title %></h3>
              <p><%= question.text %></p>
            </div>
            <div class="question-controls like-button">
              <% @user_id = current_user.id %>
              <% @question_id = question.id %>
              <% @like = Like.where("user_id = ? AND question_id = ?", @user_id, @question_id) %>
              <%# raise %>
              <% if @like.count > 0 %>
                <%= link_to question_like_path(question, @like.first), method: :delete do %>
                  <i class="fas fa-heart" style="color: red"></i>
                <% end %>
              <% else %>
                <%= link_to question_likes_path(question), method: :post do %>
                  <i class="fas fa-heart"></i>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
