<div class="container">
  <div class="question-card">
    <div class="question-header">
      <h2><%= @question.title %></h2>
    </div>
    <div class="question-content">
      <h6><%= @question.text %></h6>
    </div>
  </div>
  <div class="answer-card">
    <% @question.answers.each do |answer| %>
      <% if answer.user == current_user %>
        <div class="speech-bubble-sender"><p><%= answer.text %></p></div>
      <% else %>
        <div class="speech-bubble-sender"><p><%= answer.text %></p></div>
      <% end %>
    <% end %>
    <%= simple_form_for([ @question, @answer ]) do |form| %>
      <%= form.input :text, label:false %>
      <%= form.button :submit, class: "btn btn-primary button form-submission-button" %>
    <% end %>
  </div>
</div>
